*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body
{
  color: #ededed;
}
.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: rgb(107, 91, 60);
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: rgb(107, 91, 60);
  text-decoration: none;
  font-weight: 100;
  margin-left: 35px;
  transition: .3s;
}
.navbar a:hover {
  color: rgb(43, 32, 11);
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-image: url('./img/Maze.gif');
  background-color: rgba(0, 25, 37, 0.943);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  font-size: 32px;
  font-weight: 700px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;

}
.home-content p {
  font-size: 20px;
}